.border {
  border-top: unset;
}

.about_us_outer {
  overflow: hidden;
}

.about_us_outer .container {
  padding-bottom: 6rem;
  border-left: 1px solid var(--line);
}

.about_us {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 5.5rem 7rem;
  width: 87rem;
  height: 38rem;
  background-color: #202020;
  margin-left: auto;
}

.about_us_info {
  width: 50%;
}

.about_us_info span {
  font-size: 0.9rem;
  padding: 0 1rem;
  height: 1.5rem;
  color: #a2a2a2;
  border-radius: 0.75rem;
  border: solid 0.05rem #ffffff;

}

.about_us_info h3 {
  font-family: SourceHanSansCN-Regular;
  font-size: 3.6rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 3.25rem;
  letter-spacing: 0rem;
  color: #ffffff;
  padding: 1.5rem 0;
}

.about_us_info p {
  width: 30.65rem;
  font-family: SourceHanSansCN-ExtraLight;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.3rem;
  letter-spacing: 0rem;
  white-space: pre-line;
  text-align: justify;
  color: #a2a2a2;
}

.about_us_info button {
  height: 3rem;
  font-size: 1rem;
  margin-top: 4rem;
}

.about_us_video .iconfont {
  font-size: 3rem;
  position: absolute;
  color: var(--text-h);
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  transition: color 0.3s ease;
}

.about_us_video:hover .iconfont {
  color: var(--active);
}

.about_us_video img,
.about_us_video video {
  width: 30rem;
  max-height: 100%;
}

/* <!--WHY CHOOSE US  --> */




.why {
  display: flex;
  padding: 2.75rem 0 6.5rem 0;
}

.why .left {
  margin-right: 10rem;
}

.why .right {
  padding-right: 2rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 3rem;
}

.why .right li {
  display: flex;
}

.why .right li .iconfont {
  color: var(--active);
  margin-right: 2rem;
  font-size: 1.4rem;
  line-height: 7.5rem;
}

.reason_title {
  height: 7.5rem;
  position: relative;
  font-family: SourceHanSansCN-ExtraLight;
  font-size: 7.5rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 7.5rem;
  letter-spacing: 0rem;
  color: #1d1d1d;
  transition: color 0.3s ease;
}


.why .right li:hover .reason_title {
  color: #5950bd9a;
}

.reason_title h4 {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 7.5rem;
  letter-spacing: 0rem;
  color: #ffffff;
}

.why .right p {
  font-family: SourceHanSansCN-Light;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.2rem;
  letter-spacing: 0rem;
  color: #a2a2a2;
}


/* core */
.core_section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 41.25rem;
  height: 40.1rem;
  background-color: #252525;
  z-index: 0;
}

.core {
  padding: 6.5rem 0;
  display: flex;
  position: relative;
  z-index: 1;
}

.core .left p {
  width: 28.85rem;
  font-family: SourceHanSansCN-Light;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  color: #a2a2a2;
  text-align: justify;
  padding-top: 3rem;
}

.core .left {
  width: 50%;
}

.core .left button {
  height: 3rem;
  margin: 7rem 0;
  min-width: 13rem;
}

.core .right {
  flex: 1;
}

.core .right .imgbox {
  max-width: 85%;
}



.datas {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 6.7rem 0 4rem;
}

.datas li {
  flex: 1rem;
}

.datas h4 {
  font-family: SourceHanSansCN-Regular;
  font-size: 7.5rem;
  line-height: 7.5rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.datas li:hover h4 {
  color: var(--active);
}

.datas span {
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.8rem;
  letter-spacing: 0.09rem;
  color: #ffffff;
}

.datas span::before {
  color: var(--active);
  margin-right: 1rem;
}


.LuxAcademy {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-bottom: 4rem;
}

.LuxAcademy_section::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 41.25rem;
  height: 29.55rem;
  background-color: #252525;
  z-index: 0;
}

.imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.LuxAcademy .imgbox {
  width: 50%;
}

.imgbox img {
  max-width: 100%;
  transition: transform 0.6s linear;
}

.imgbox img:hover {
  transform: scale(1.1);
}

.LuxAcademy .centent {
  flex: 1;
  padding: 0 5.5rem;
  font-family: SourceHanSansCN-Light;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  color: #a2a2a2;
  white-space: pre-line;
  text-align: justify;
}

.contact_section {
  box-sizing: border-box;
  padding: 4.8rem 5.4rem;
  margin-top: 6rem;
}

.contact_section p {
  width: 29.05rem;
  font-family: SourceHanSansCN-Light;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  text-align: justify;
  color: #a2a2a2;
  padding-top: 2.8rem;
}

.contact_section .title h2 {
  font-size: 6rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 4rem;
  letter-spacing: 0rem;
  color: #ffffff;
  opacity: 0.03;
}

.contact_section button {
  height: 3rem;
  margin: 3rem 0;
  min-width: 11rem;
}

@media screen and (max-width:768px) {
  .header {
    padding-bottom: 1rem;
  }

  .about_us {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
    background-color: unset;
    width: unset;
    height: unset;
  }

  .about_us_info p,
  .about_us_info {
    width: unset;
    width: 100%;
  }

  .about_us_outer .container {
    padding-bottom: 0;
    border: unset;
  }

  .about_us_video img,
  .about_us_video video {
    margin-top: 3rem;
    width: 100%;
    max-height: unset;
  }

  .title h2 {
    font-size: 5rem;
  }

  .why {
    display: flex;
    flex-direction: column;
    padding: 2.75rem 0;
  }

  .why .left {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .why .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .LuxAcademy_section::before,
  .core_section::after {
    display: none;
  }

  .core {
    flex-direction: column;
  }

  .core .left,
  .core .left p {
    width: unset;
  }

  .core .left button {
    height: 3rem;
    margin: 7rem 0;
    min-width: 13rem;
  }

  .core .right {
    flex: 1;
  }

  .core .right .imgbox {
    max-width: unset;
  }

  .LuxAcademy {
    flex-direction: column;
    padding: 0 1rem;
  }

  .LuxAcademy .imgbox {
    width: 100%;
  }

  .LuxAcademy .centent {
    padding: 0;
  }

  .datas {
    padding: 3rem 0;
  }

  .datas h4 {
    font-family: SourceHanSansCN-Regular;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #ffffff;
  }

  .contact_section {
    padding: 2rem 1rem;
  }

  .contact_section p {
    width: unset;
  }

  .contact_section .title h2 {
    font-size: 5rem;
  }
}