* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/

  width: 4px;
  height: 1px;

}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 4px;
  box-shadow: inset 0 0 5px #d34b0d;
  -webkit-box-shadow: inset 0 0 5px #d34b0d;
  background: #d34b0d;

}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px #ebebeb;
  -webkit-box-shadow: inset 0 0 5px #ebebeb;
  border-radius: 4px;
  background: #ebebeb;

}

:root {
  --lh: #d34b0d
}

html {
  background-color: #FAF2F1;
  font-size: 20px;
}

button:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {

  font-family: MicrosoftYaHei;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  color: #000000;
}

a {
  text-decoration: unset;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
input:active {
  outline: none;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

.pc_hidden {
  display: none;
}

@media screen and (max-width:768px) {
  html {
    font-size: 16px;
  }

  .container {
    width: auto;
    margin: 0 15px;
  }

  .pc_hidden {
    display: block;
  }

  .mobile_hidden {
    display: none !important;
  }
}