.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}


.nav_container .logo {
  height: 2.75rem;
}

.nav_content {
  display: flex;
  align-items: center;
  font-family: MicrosoftYaHei;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.nav_content .icon-language,
.nav_content .icon-search {
  margin: 0 0.3rem;
}

.nav_content li:not(:last-child) {
  margin-right: 2rem;
}

footer {
  background-color: #1c1c1c;
}

.footer_content {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.line {
  height: 1px;
  background-color: #292929;
}

footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

footer form .lable {
  width: 18rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #ffffff;
  margin-right: 16rem;
}

footer form .input {
  flex: 1;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #313131;
  color: #5f5f5f;
  font-size: 0.8rem;
}

footer form .input input {
  flex: 1;
  color: #fff;
}

footer form button {
  padding: 0;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  border-radius: 50%;
  text-align: center;
  background-color: #ccbe7d;
  font-size: 0.8rem;
}


.green {

  background-color: #054e43;
}

.gray {
  background-color: #f7f7f7;
}

@keyframes btn_hover {
  to {
    background-color: var(--theme);
    border-color: rgba(255, 255, 255, 0.5);
  }
}

button.iconfont::before {
  margin: 0;
}

footer .links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
  color: #ffffff;
  justify-content: space-between;
}

footer .links h3 {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #ccbe7d;
  padding-bottom: 2.2rem;
}

.scan {
  text-align: center;
}

.scan img {
  width: 4.65rem;
  height: 4.65rem;
}

.copyRight {
  padding: 2.7rem 0;
  font-size: 0.7rem;
  line-height: 1.5rem;
  color: #b5b5b5;
}

.page_top {
  font-size: 0;
}

.page_top img {
  width: 100%;
}

.page_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page_content .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page_content h3 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1.9rem;
}

.page_content p {
  max-width: 49rem;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  color: #ffffff;
}

.page_nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #054e4375;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #ffffff;
  z-index: 2;
  padding: 0.5rem 15px 0 15px;
}

.page_nav li {
  padding-bottom: 0.5rem;
}

.page_nav li:not(:last-child) {
  margin-right: 2rem;
}

.flat_r {
  padding-left: 18rem;
}

.title .en {
  display: block;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #ccbe7d;
}

.title .ch {
  display: block;
  font-size: 3rem;
  color: #054e43;
}

.c_c {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.swiper-button-disabled {
  opacity: 0.3;
}

.padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.imgbox {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.imgbox img {
  width: 100%;
  transition: transform .5s ease;
}

@media (max-width: 768px) {
  .flat_r {
    padding: 0 15px;
  }

  .page_top img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }

  .copyRight {
    padding: 1.5rem 0;
  }

  footer .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;
    font-size: 0.7rem;
    line-height: 1.5rem;
    color: #ffffff;
  }

  footer form {
    flex-direction: column;
    padding-bottom: 4rem;
  }

  footer form .lable {
    width: unset;
    margin-right: unset;
  }

  footer form button {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }

  footer form .input {
    width: 100%;
    padding: 2rem 0 1rem;
  }

  header {
    position: unset;
    background-color: var(--theme);
  }

  .nav_container {
    padding: 1rem 15px;
  }

  .mobile_nav {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--theme);
    color: #fff;
    padding-top: 6rem;
    padding-bottom: 2rem;
    z-index: 5;
  }

  .nav_container .logo {
    position: relative;
    z-index: 10;
  }

  .mobile_nav li {
    margin: 0;
    padding: 1rem 2rem;
    white-space: nowrap;
  }

  .nav_content .icon-language,
  .nav_content .icon-search {
    margin: 0 0.3rem 0 0;
  }

}