.page_content{
    box-sizing: border-box;
    padding: 4.7rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0.8;
}
.page_content a{
    font-size: 0.9rem;
	color: #ffffff;
    padding: 0.1rem 1rem;
    border-radius: 0.8rem;
	border: solid 0.05rem #ffffff;
}
.page_content h3{
	color: #ffffff;
    font-size: 3.6rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 4rem;
    margin: 1rem 0 3.5rem;
}
.page_content button{
    height: 3rem;
}

.contact_us_content{
    padding: 3rem 0;
    display: flex;
}
.contact_us_content>div{
    flex: 1;
}
.contact_us_content .contact{
    padding: 3rem 0;
    color: var(--text-h);
    font-size: 0.9rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.8rem;
}
.contact_us_content .contact .iconfont{
    color: var(--active);
    margin-right: 0.5rem;
}
.contact_us_content form{
    padding:0 5rem ;
    color: var(--text-h);
    line-height: 1.2rem;
	letter-spacing: 0rem;
	color: #a2a2a2;
}
.contact_us_content form text{
    color: var(--active);
}
.contact_us_content form input{
    box-sizing: border-box;
    color: var(--text-h);
    display: block;
    width: 28rem;
	height: 2.5rem;
	background-color: #1d1d1d;
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
    font-size: 0.8rem;
}
.contact_us_content form textarea{
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    width: 28rem;
    background-color: #1d1d1d;
    border: unset;
    margin-top: 0.8rem;
    color: var(--text-h);
}
.contact_us_content form button{
    margin-top: 3rem;
    height: 3rem;
}
@media screen and (max-width:768px) {
    .page_content{
        height: auto;
        padding: 2rem 1rem;
    }
    .contact_us_content{
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
    }
    .contact_us_content form{
        padding: 3rem 0 0;
    }
    .contact_us_content form textarea,
    .contact_us_content form input{
        width: 100%;
    }
    .page_content h3{
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        margin: 1rem 0 2.5rem;
    }
}