section {
  padding-bottom: 6rem;
}

section .ball_right {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  position: absolute;
  right: -10rem;
  top: -6rem;
  background-image: linear-gradient(132deg,
      #ffc72000 0%,
      #ff6a2054 50%, #ff6a200e 100%);
  z-index: -1;
  opacity: 0.6;
  box-shadow: #7e776534 2px 2px 100px 2px;
}

section .ball_left {
  width: 13rem;
  height: 19rem;
  border-radius: 50%;
  position: absolute;
  left: -2rem;
  bottom: -4rem;
  background-image: linear-gradient(-54deg,
      #ffc7204f 0%,
      #ff6a2067 100%);
  opacity: 0.3;
  z-index: -1;
  opacity: 0.6;
  filter: url(#ffc7204f);
  box-shadow: 0 0 80px #fbda72,
    0 0 30px #ffc7204f,
    0 0 6px #ffc72027;
}

.news_nav {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news_nav li a {
  display: block;
  width: 10rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  border: solid 0.05rem #e5e5e5;
  font-size: 0.9rem;
  color: #000000;
  margin-right: 0.5rem;
}

.news_nav li a:hover,
.news_nav .active a {
  background-color: #ff6c20;
  border: solid 0.05rem #e5e5e5;
  color: #ffffff;
}

.detail {
  display: flex;
  align-items: flex-start;
}

article {
  padding: 3rem;
  border: solid 0.05rem #eeeeee;
  flex: 1;
}

.news {
  flex: unset;
  width: 17.5rem;
  margin-left: 2.5rem;
}

.img_box {
  font-size: 0;
  overflow: hidden;
}

.news li {
  overflow: hidden;
}

.news li img {
  width: 100%;
  object-fit: cover;
  transition: transform ease-out 0.3s;
}

.news li:hover img {
  transform: scale(1.1);
}

.news .info h4 {
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.2rem;
  letter-spacing: 0.045rem;
  color: #000000;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news .info {
  padding: 0.5rem 0;
}

.news .info p {
  display: block;
  margin: 1rem 0;
  width: 100%;
  height: 2.5rem;
  font-family: MicrosoftYaHei;
  font-size: 0.7rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.2rem;
  letter-spacing: 0.035rem;
  color: #5f5f5f;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img_box img {
  width: 100%;
}

.article_title {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 2rem;
}

.article_title h3 {
  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: justify;
}

.share {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time {
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  color: #ff6c20;
}

article .content {
  padding: 2rem 0;
}

article .content p {
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  color: #5f5f5f;
  text-align: justify;
  white-space: pre-wrap;
}

.article_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.article_img img {
  max-width: 100%;
}

.btns {
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.8rem;
  letter-spacing: 0rem;
  color: #969696;
}

.btns a {
  display: block;
}

@media screen and (max-width:768px) {
  .news_nav {
    padding: 1.5rem 0;
  }

  .news_nav li a {
    width: auto;
    padding: 0 1rem;
  }

  .detail {
    flex-direction: column;
  }

  article {
    padding: 1rem;
    border: solid 0.05rem #eeeeee;
    flex: 1;
    margin-bottom: 2rem;
  }

  .news {
    display: grid;
    width: 100%;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1.6rem;
  }

  .share {
    flex-direction: column;
    align-items: flex-start;
  }

  .share img {
    margin-top: 0.5rem;
  }

  .btns a {
    width: 80vw;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}