@font-face {
  font-family: "iconfont"; /* Project id 2911224 */
  src: url('iconfont.woff2?t=1636016932915') format('woff2'),
       url('iconfont.woff?t=1636016932915') format('woff'),
       url('iconfont.ttf?t=1636016932915') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e648";
}

.icon-qq1:before {
  content: "\e64a";
}

.icon-icon-person:before {
  content: "\e64d";
}

.icon-AI:before {
  content: "\e650";
}

.icon-gongzuohuanjing:before {
  content: "\e651";
}

.icon-gerenjianli:before {
  content: "\e656";
}

.icon-renwuguihua:before {
  content: "\e657";
}

.icon-neizhaorencaiku:before {
  content: "\e658";
}

.icon-shouji:before {
  content: "\e659";
}

.icon-zhiliang:before {
  content: "\e65a";
}

.icon-zhifeiji:before {
  content: "\e65b";
}

.icon-guwenrenzheng:before {
  content: "\e65c";
}

.icon-a-zhifeijifeijimengxiangfasong:before {
  content: "\e65d";
}

.icon-huafei:before {
  content: "\e65e";
}

.icon-youxiang:before {
  content: "\e65f";
}

.icon-tuandui:before {
  content: "\e660";
}

.icon-sousuo:before {
  content: "\e661";
}

.icon-goutong:before {
  content: "\e662";
}

.icon-shipinmianshi:before {
  content: "\e663";
}

.icon-zhuanzhu:before {
  content: "\e664";
}

.icon-location:before {
  content: "\e639";
}

.icon-qq:before {
  content: "\e649";
}

.icon-hj:before {
  content: "\e64b";
}

.icon-gy:before {
  content: "\e64c";
}

.icon-message:before {
  content: "\e64e";
}

.icon-fj:before {
  content: "\e64f";
}

.icon-a-xingzhuang5kaobei:before {
  content: "\e652";
}

.icon-a-xingzhuang8:before {
  content: "\e653";
}

.icon-wb:before {
  content: "\e654";
}

.icon-a-xingzhuang22:before {
  content: "\e655";
}

.icon-left:before {
  content: "\e638";
}

.icon-dbx:before {
  content: "\e63a";
}

.icon-phone:before {
  content: "\e63b";
}

.icon-emil:before {
  content: "\e63c";
}

.icon-a-xingzhuang5kaobei2:before {
  content: "\e63d";
}

.icon-map:before {
  content: "\e63e";
}

.icon-a-xingzhuang5:before {
  content: "\e63f";
}

.icon-px:before {
  content: "\e640";
}

.icon-right:before {
  content: "\e641";
}

.icon-rc:before {
  content: "\e642";
}

.icon-dc:before {
  content: "\e643";
}

.icon-a-xingzhuang11kaobei:before {
  content: "\e644";
}

.icon-a-xingzhuang11:before {
  content: "\e645";
}

.icon-a-xingzhuang24kaobei3:before {
  content: "\e646";
}

.icon-a-xingzhuang3:before {
  content: "\e647";
}

