.gray_backgroud {
  padding: 1.8rem 0 4rem;
  line-height: inherit;
}

.top_nav {
  padding: 0 1.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.top_nav .continue {
  font-family: MicrosoftYaHei;
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.checkAll {
  display: flex;
  align-items: center;
}

.checkbox {
  border-color: #ff6700;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

.checked {
  color: #fff;
  background-color: #ff6700;
  font-size: 0.8rem;
}

.price {
  color: #ff6700;

}

table {
  width: 100%;
}

table th,
td {
  font-family: MicrosoftYaHei;
  font-size: 0.8rem;
  font-weight: normal;
  color: #434343;
  padding: 1rem 1rem;
  text-align: center;
  border-bottom: 1px solid #F5F5F5;
}

table th:first-child,
td:first-child {
  padding-left: 0;
}

.products_list {
  padding: 0 1.5rem;
  font-family: MicrosoftYaHei;
  font-size: 0.8rem;
  font-weight: normal;
  color: #434343;
}

.product {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: start;
}

.product img {
  height: 4.5rem;
}

.delete {
  background: none;
  font-size: 1.2rem;
}

.mutile_delete:hover,
.delete:hover {
  color: red;
}

.input-number {
  margin: 0 auto;
  width: 7rem;
  height: 2.2rem;
  border: solid 0.05rem #e0e0e0;
  display: flex;
}

.input-number span {
  width: 2.15rem;
  font-size: 1rem;
  color: #e0e0e0;
  line-height: 2.2rem;
  text-align: center;
}

.input-number span:hover {
  color: #ff6700;
  cursor: pointer;
}

.input-number input {
  flex: 1;
  width: 1px;
  border-left: solid 0.05rem #e0e0e0;
  border-right: solid 0.05rem #e0e0e0;
}

.total {
  padding: 1.4rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total .left {
  display: flex;
  gap: 1rem;
}

.mutile_delete {

  font-family: MicrosoftYaHei;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: normal;
  color: #434343;
  background: none;
}

.total .left text {
  color: #ff6700;
}

.total span {
  font-size: 0.7rem;
}

.total .left span {
  display: flex;
  align-items: center;
}

.total .right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.total .right text {
  font-family: MicrosoftYaHei-Bold;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0rem;
  color: #ff6a00;
}

.submit {
  background-color: #ff6700;
  width: 9rem;
  height: 2.2rem;
  font-family: MicrosoftYaHei;
  font-size: 0.9rem;
  color: #ffffff;

}

@media screen and (max-width:768px) {
  .products_list {
    overflow-x: auto;
  }

  table {
    width: 50rem;
  }

  .total .right,
  .total {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}