@font-face {
  font-family: "iconfont"; /* Project id 2890354 */
  src: url('iconfont.woff2?t=1635487460809') format('woff2'),
       url('iconfont.woff?t=1635487460809') format('woff'),
       url('iconfont.ttf?t=1635487460809') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e65c";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-jubao:before {
  content: "\e607";
}

.icon-24gl-filePencil2:before {
  content: "\eabd";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-shaixuan:before {
  content: "\e602";
}

.icon-filter2:before {
  content: "\e666";
}

.icon-filter2-fill:before {
  content: "\e667";
}

.icon-shaixuan1:before {
  content: "\e65a";
}

.icon-xiangshang:before {
  content: "\e601";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-tuijianshangjia:before {
  content: "\e61c";
}

.icon-icon_tuijian-mian:before {
  content: "\e65b";
}

.icon-gouwuche:before {
  content: "\e640";
}

.icon-a-xingzhuang14:before {
  content: "\e63f";
}

.icon-a-xingzhuang28kaobei11:before {
  content: "\e643";
}

.icon-a-xingzhuang631:before {
  content: "\e644";
}

.icon-a-xingzhuang17:before {
  content: "\e646";
}

.icon-a-xingzhuang634kaobei2:before {
  content: "\e647";
}

.icon-a-xingzhuang5:before {
  content: "\e648";
}

.icon-a-xingzhuang16:before {
  content: "\e649";
}

.icon-a-xingzhuang18:before {
  content: "\e656";
}

.icon-a-xingzhuang23:before {
  content: "\e657";
}

.icon-a-xingzhuang634kaobei:before {
  content: "\e658";
}

.icon-a-xingzhuang10:before {
  content: "\e659";
}

.icon-close:before {
  content: "\e62f";
}

.icon-add:before {
  content: "\e631";
}

.icon-left:before {
  content: "\e632";
}

.icon-checked:before {
  content: "\e633";
}

.icon-btn_pal:before {
  content: "\e634";
}

.icon-moneny:before {
  content: "\e635";
}

.icon-nav28:before {
  content: "\e636";
}

.icon-nav30:before {
  content: "\e637";
}

.icon-right:before {
  content: "\e638";
}

.icon-zang:before {
  content: "\e639";
}

.icon-nav27:before {
  content: "\e63a";
}

.icon-pack:before {
  content: "\e63b";
}

.icon-a-duobianxing1kaobei4:before {
  content: "\e63c";
}

.icon-share:before {
  content: "\e63d";
}

.icon-a-duobianxing1:before {
  content: "\e63e";
}

.icon-nav33:before {
  content: "\e641";
}

.icon-new:before {
  content: "\e642";
}

.icon-shoucan:before {
  content: "\e645";
}

.icon-nav29:before {
  content: "\e64a";
}

.icon-nav32:before {
  content: "\e64b";
}

.icon-a-xingzhuang3:before {
  content: "\e64c";
}

.icon-view:before {
  content: "\e64d";
}

.icon-tip:before {
  content: "\e64e";
}

.icon-a-xingzhuang15:before {
  content: "\e64f";
}

.icon-a-xingzhuang9:before {
  content: "\e650";
}

.icon-a-xingzhuang7:before {
  content: "\e651";
}

.icon-a-xingzhuang4:before {
  content: "\e652";
}

.icon-a-xingzhuang6:before {
  content: "\e653";
}

.icon-a-xingzhuang628:before {
  content: "\e654";
}

.icon-nav31:before {
  content: "\e655";
}

